@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
}

.box {
  width: 400px;
  height: 200px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
}

.left_c {
  position: relative;
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;

}

.right_c {
  position: relative;
  width: 100px;
  height: 100px;
  left: 350px;
  top: 50px;

}

.c {
  width: 100px;
  height: 100px;
  background-color: #fc0;
  border-radius: 50%;
}

.cover {
  width: 400px;
  height: 200px;
  background-color: transparent;
  border: 50px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -250px;
}